        body {
            font-family: 'Source Code Pro', monospace;
            background-color: #eef2f7;
            color: #222;
            margin: 0;
            padding: 0;
            text-align: center;
            overflow-x: hidden;
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px 20px;
            background: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: none;
            overflow: hidden;
            z-index: 1000;
        }

        .brand {
            font-weight: bold;
            font-size: 22px;
            position: fixed;
            top: 10px;
            left: 20px;
            color: #d81b60;
            text-shadow: 2px 2px 4px rgba(216, 27, 96, 0.3);
        }
        
        .help-text {
            position: fixed;
            //bottom: 24px;
            top: 24px;
            right: 34px;
            font-size: 22px;
            font-family: monospace;
            color: #f14;
            font-weight: bold;
            font-style: italic;
            animation: reloco 2s infinite ease-in-out;
        } 

        .collections {
            position: fixed;
            top: 30%;
            left: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        @keyframes scrollText {
            0% { transform: translateX(0); }
            25% { transform: translateX(-10px); }
            50% { transform: translateX(0px); }
            75% { transform: translateX(10px); }
            100% { transform: translateX(0); }
        }
        
        @keyframes reloco {
            0% { transform: rotate(0deg); }
            50% { transform: rotate(-3deg); }
            100% { transform: rotate(0deg); }
        }

        .collections a {
            font-size: 22px;
            font-family: monospace;
            font-weight: bold;
            font-style: italic;
            color: #0000EE;
            text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5);
            text-decoration: none;
            margin-bottom: 10px;
            animation: scrollText 5s infinite ease-in-out;
        }

        .collections a.selected {
            text-decoration: underline;
            font-size: 24px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }


        // eee jagger eee jagger toca satisfaction jagger.... eeeeeee la tocoooo locoo viste..... la toco le dije yoooo.... eeee grande jaggeeeeer eee te quiero jaggeeeeer
        @keyframes moveLikeJagger {
            0% { transform: translateX(0); }
            25% { transform: translateX(-5px) rotate(-1deg); }
            50% { transform: translateX(5px) rotate(1deg); }
            75% { transform: translateX(-5px) rotate(-1deg); }
            100% { transform: translateX(0); }
        }

       .collection-name {
            font-weight: bold;
            font-size: 22px;
            position: fixed;
            bottom: 10px;
            right: 60px;
            color: #000;
            animation: scrollText 20s infinite ease-in-out;
            //animation: moveLikeJagger 1.5s infinite ease-in-out;
        }
/*
        .collection-name {
            font-weight: bold;
            font-size: 22px;
            color: #d81b60;
            position: absolute;
            right: 60px;
            white-space: nowrap;
            max-width: 30%;
            text-overflow: ellipsis;
            overflow: hidden;
            text-shadow: 2px 2px 4px rgba(216, 27, 96, 0.3);
            animation: scrollText 2s infinite ease-in-out;
        }
        */
        nav a {
            text-decoration: none;
        }
        main {
            margin-top: 100px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .gallery {
            left: 10%; 
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .gallery img {
            max-width: 85%;
            height: auto;
            max-height: 82vh;
            margin: 40px 0 10px 0;
            background: #eef2f7;
            padding-top: 5.5em;
        }

        .gallery p {
            font-style: italic;
            font-size: 20px;
            margin-bottom: 30px;
            padding-bottom: 5.5em;
        }
